{% extends 'base.html' %}
{% block eventlist %}

    <center>
        <h1 class="my-3">Events</h1>
        {% for event in event_list %}
        <h3 class="mt-5">
            {{ event }}
            <ul class="list-unstyled mt-3">
                <li>
                    Venue: {{ event.venue }}
                </li>
                <li>
                    Venue site: {{ event.venue.email_address }}
                </li>
                <li>
                    Date: {{ event.event_date }}
                </li>
                <li>
                    Description: {{ event.description }}
                </li>
            </ul>
        </h3>
        {% endfor %}
    </center>

{% endblock %}