{% extends 'base.html' %}
{% block content %}

<h1 class="my-3">Venues:</h1>
<table class="table table-dark table-striped table-hover">
    {% for venue in venue_list %}
    <tr>
        <td class="d-flex justify-content-between">
            <a href="{% url 'show-venue' venue.id %}" class="link-light p-3">{{ venue }}</a>
            <div class="my-auto">
                <a href="{% url 'update-venue' venue.id %}" class="my-auto pe-3"><button
                        class="btn btn-outline-light">Update</button></a>
                <a href="{% url 'delete-venue' venue.id %}" class="my-auto pe-3"><button
                        class="btn btn-danger">Delete</button></a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}